<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Untree.co">
  <link rel="shortcut icon" href="../logo.png">

  <meta name="description" content="" />
  <meta name="keywords" content="bootstrap, bootstrap4" />

		<!-- Bootstrap CSS -->
		<link href="../css/bootstrap.min.css" rel="stylesheet">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
		<link href="../css/tiny-slider.css" rel="stylesheet">
		<link href="../css/style.css" rel="stylesheet">
		<link href="../css/ernastyle.css" rel="stylesheet">
		<title>Ternaknesia</title>
	</head>

	<body>
		<!-- Start Header/Navigation -->
		<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

			<div class="container">
				<a class="navbar-brand" href="home.html">Ternaknesia<span>.</span></a>

				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarsFurni">
					<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
						<li class="nav-item active">
							<a class="nav-link" href="home.html">Beranda</a>
						</li>
						<li><a class="nav-link" href="ternak.html">Ternak</a></li>
						<li><a class="nav-link" href="kesehatan.html">Kesehatan</a></li>
                        <li><a class="nav-link" href="konsultasi.html">Konsultasi</a></li>
                        <li><a class="nav-link" href="jadwal.html">Jadwal</a></li>
                        <li><a class="nav-link" href="produksi.html">Produksi</a></li>
                        <li><a class="nav-link" href="diskusi.html">Diskusi</a></li>
					</ul>

					<ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
						<li><a class="nav-link" href="../index.html"><img src="../images/user.svg"></a></li>
					</ul>
				</div>
			</div>	
		</nav>
		<!-- End Header/Navigation -->

		<!-- Start Navigation & Diagram-->
		<div class="container text-center">
			<div class="row navigation">
			  <div class="col-7">
		
				<div class="row">
					<div class="col">
						<p>
						  <a href="ternak.html" class="btn btn-secondary me-2" style="color: white;">
							<img src="../images/ternak.png" alt="Icon" class="link-icon" />
							Ternak
						  </a>
						</p>
					  </div>
					  <div class="col">
						<p>
						  <a href="kesehatan.html" class="btn btn-secondary me-2" style="color: white;">
							<img src="../images/kesehatan.png" alt="Icon" class="link-icon" />
							Kesehatan
						  </a>
						</p>
					  </div>
					  <div class="col">
						<p>
						  <a href="konsultasi.html" class="btn btn-secondary me-2" style="color: white;">
							<img src="../images/konsultasi.png" alt="Icon" class="link-icon" />
							Konsultasi
						  </a>
						</p>
					  </div>
				</div>
				<div class="row">
					<div class="col">
						<p>
						  <a href="jadwal.html" class="btn btn-secondary me-2" style="color: white;">
							<img src="../images/jadwal.png" alt="Icon" class="link-icon" />
							Jadwal
						  </a>
						</p>
					  </div>
					  <div class="col">
						<p>
						  <a href="produksi.html" class="btn btn-secondary me-2" style="color: white;">
							<img src="../images/produksi.png" alt="Icon" class="link-icon" />
							Produksi
						  </a>
						</p>
					  </div>
					  <div class="col">
						<p>
						  <a href="diskusi.html" class="btn btn-secondary me-2" style="color: white;">
							<img src="../images/diskusi.png" alt="Icon" class="link-icon" />
							Diskusi
						  </a>
						</p>
					  </div>
				  </div>

			  </div>
			  <div class="col-5">
				<img src="../images/pie.png" alt="" width="500px" height="auto">
			  </div>
			</div>
		  </div>
		<!-- End Navigation & Diagram-->

        <!-- Start  Video Tips -->
		<div class="blog-section">
			<div class="container">
				<div class="row mb-5">
					<div class="col-md-6">
						<h3 class="section-title">Tonton Sekarang</h3>
					</div>
					<div class="col-md-6 text-start text-md-end">
						<a href="#" class="more">View All</a>
					</div>
				</div>

				<div class="row">

					<div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
						<div class="post-entry">
							<a href="#" class="post-thumbnail"><img src="../images/tipssapi.jpg" alt="Image" class="img-fluid"></a>
							<div class="post-content-entry">
								<h3><a href="#">Mengenal Sistem Pakan Terbaik untuk Peternakan Sukses</a></h3>
								<div class="meta">
									<span>29 Juli 2024</span>
								</div>
							</div>
						</div>
					</div>

					<div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
						<div class="post-entry">
							<a href="#" class="post-thumbnail"><img src="../images/tipsayam.jpg" alt="Image" class="img-fluid"></a>
							<div class="post-content-entry">
								<h3><a href="#">Dari Ladang ke Piring: Menyelami Dunia Peternakan</a></h3>
								<div class="meta">
									<span>29 Juli 2024</span>
								</div>
							</div>
						</div>
					</div>

					<div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
						<div class="post-entry">
							<a href="#" class="post-thumbnail"><img src="../images/tipskuda.jpg" alt="Image" class="img-fluid"></a>
							<div class="post-content-entry">
								<h3><a href="#">Rahasia Peternakan Sehat: Pakan Berkualitas untuk Hasil Maksimal</a></h3>
								<div class="meta">
									<span>29 Juli 2024</span>
								</div>
							</div>
						</div>
					</div>

				</div><br><br>

				<div class="row">

					<div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
						<div class="post-entry">
							<a href="#" class="post-thumbnail"><img src="../images/tipsayam.jpg" alt="Image" class="img-fluid"></a>
							<div class="post-content-entry">
								<h3><a href="#">Dari Ladang ke Piring: Menyelami Dunia Peternakan</a></h3>
								<div class="meta">
									<span>29 Juli 2024</span>
								</div>
							</div>
						</div>
					</div>

					<div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
						<div class="post-entry">
							<a href="#" class="post-thumbnail"><img src="../images/tipskuda.jpg" alt="Image" class="img-fluid"></a>
							<div class="post-content-entry">
								<h3><a href="#">Rahasia Peternakan Sehat: Pakan Berkualitas untuk Hasil Maksimal</a></h3>
								<div class="meta">
									<span>29 Juli 2024</span>
								</div>
							</div>
						</div>
					</div>

					<div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
						<div class="post-entry">
							<a href="#" class="post-thumbnail"><img src="../images/tipssapi.jpg" alt="Image" class="img-fluid"></a>
							<div class="post-content-entry">
								<h3><a href="#">Mengenal Sistem Pakan Terbaik untuk Peternakan Sukses</a></h3>
								<div class="meta">
									<span>29 Juli 2024</span>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- End Video Tips -->	
		
		<script src="../js/bootstrap.bundle.min.js"></script>
		<script src="../js/tiny-slider.js"></script>
		<script src="../js/custom.js"></script>
	</body>

</html>
