<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Untree.co">
  <link rel="shortcut icon" href="../logo.png">

  <meta name="description" content="" />
  <meta name="keywords" content="bootstrap, bootstrap4" />

		<!-- Bootstrap CSS -->
		<link href="../css/bootstrap.min.css" rel="stylesheet">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
		<link href="../css/tiny-slider.css" rel="stylesheet">
		<link href="../css/style.css" rel="stylesheet">
		<title>Ternaknesia</title>
	</head>

	<body>

		<!-- Start Header/Navigation -->
		<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

			<div class="container">
				<a class="navbar-brand" href="home.html">Ternaknesia<span>.</span></a>

				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarsFurni">
					<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
						<li><a class="nav-link" href="home.html">Beranda</a></li>
						<li><a class="nav-link" href="ternak.html">Ternak</a></li>
                        <li><a class="nav-link" href="kesehatan.html">Kesehatan</a></li>
                        <li><a class="nav-link" href="konsultasi.html">Konsultasi</a></li>
                        <li><a class="nav-link" href="jadwal.html">Jadwal</a></li>
                        <li class="nav-item active">
							<a class="nav-link" href="produksi.html">Produksi</a>
						</li>
                        <li><a class="nav-link" href="diskusi.html">Diskusi</a></li>
					</ul>
					<ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
						<li><a class="nav-link" href="../profil.html"><img src="../images/user.svg"></a></li>
					</ul>
				</div>
			</div>
				
		</nav>
		<!-- End Header/Navigation -->

		<div class="untree_co-section before-footer-section">
            <div class="container">
                <div class="header-roww">
                    <h2 class="table-title">Hasil Produksi Ternak</h2>
                    <button class="btn-add">+</button>
                </div>
                <div class="row mb-5">
                    <form class="col-md-12" method="post">
                        <div class="site-blocks-table">
                        <table class="table">
                        <thead>
                            <tr>
                          <th class="product-no">No</th>
                          <th class="product-jenis">Jenis Ternak</th>
                          <th class="product-tgl">Tanggal Produksi</th>
                          <th class="product-produksi">Jenis Produksi</th>
                          <th class="product-jumlah">Jumlah Produksi</th>
                          <th class="product-thumbnail">Gambar</th>
                          <th class="product-aksi">Aksi</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                            <td>1</td>
                            <td class="product-jenis">
                                <h3 class="h6 text-black">Sapi Perah</h3>
                            </td>
                            <td class="product-tgl">2024-10-20</td>
                            <td class="product-produksi">
                                Susu
                            </td>
                            <td class="product-jumlah">
                                30 liter
                            </td>
                            <td class="product-thumbnail">
                                <img src="../images/susu.png" alt="Image" class="img-fluid">
                            </td>
                            <td>
                                <button class="btn-edit"><i class="fas fa-edit"></i></button>
                                <button class="btn-delete"><i class="fas fa-trash"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td class="product-jenis">
                                <h3 class="h6 text-black">Ayam</h3>
                            </td>
                            <td class="product-tgl">2024-10-20</td>
                            <td class="product-produksi">
                                Telur
                            </td>
                            <td class="product-jumlah">
                                100 butir
                            </td>
                            <td class="product-thumbnail">
                                <img src="../images/telur.png" alt="Image" class="img-fluid">
                            </td>
                            <td>
                                <button class="btn-edit"><i class="fas fa-edit"></i></button>
                                <button class="btn-delete"><i class="fas fa-trash"></i></button>
                            </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </form>
              </div>
            </div>
          </div>

		<script src="../js/bootstrap.bundle.min.js"></script>
		<script src="../js/tiny-slider.js"></script>
		<script src="../js/custom.js"></script>
	</body>

</html>