@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    background-color: #314d43;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0;
  }
  
  .register-container {
    background: #ffffff;
    padding: 30px 20px;
    border-radius: 12px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 50px 0;
  }
  
  h1 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .form-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #d3e8e4;
    border-radius: 8px;
    font-size: 14px;
    background-color: #f9fdfc;
    box-sizing: border-box;
  }
  
  .submit-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #f9bf29;
    color: #000000;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .login-link {
    margin-top: 15px;
    font-size: 14px;
  }
  
  .login-link a {
    color: #007bff;
    text-decoration: none;
  }
  
  .login-link a:hover {
    text-decoration: underline;
  }
  .img-logo {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .img-logo img {
    max-width: 100px;
    height: auto;
  }
  